{
  "extends": [
    "standard",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "ignorePatterns": [
    "*.test.js",
    "node_modules/"
  ]
}
