<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Travel app</title>
    <script src="https://kit.fontawesome.com/00118e4b7c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<body class="main-grid">

    <header>
        <div class="logo-container">
        
        </div>
       
    </header>

    <main>
        <p id="message" class=" has-text-danger has-text-centered"></p>
    
    </main>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>Developped by Akram Gassem</p>
        </div>
    </footer>
    <script>
    // Check that service workers are supported
        /**
         if ('serviceWorker' in navigator) {
             // Use the window load event to keep the page load performant
             window.addEventListener('load', () => {
                 navigator.serviceWorker.register('/service-worker.js');
                });
            }
        */
    </script>
</body>

</html>