
.main-grid {
    display: grid;
    grid-template: 'head head head' 10vh
                    'main main main' minmax(100vh, auto)
                    'footer footer footer' 200px
    ;
}


header {
    grid-area: head;
    .logo-container {
        max-height: 10vh;
        display: flex;
        img {
            height: 100%;
            width: auto;
            margin: auto;
        }
    }
}

main {
    grid-area: main;
    background-image: url(../images/travel_app_bg.png);
    background-size: cover;
    background-position: bottom;
}

footer {
    grid-area: footer;
}