@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

html {
    background-color: $light;
    font-size: $font-normal;
}


.notifications {
    position: fixed;
    bottom: 12px;
    right: 12px;
    min-width: 300px;
    transition: all .25s ease-in;

}
.notification {
    min-width: 300px;
    padding: .75rem 2.5rem .75rem 1rem;
    max-width: 300px;
    opacity: 0.3;
    transition: all .25s ease-in;

    &:hover {
        opacity: 1;
        transition: all .25s ease-in;

    }
    &:not(:last-child) {
        margin-bottom: 0.5em;
    }
    
    &.hide {
        transform:  translateX(400px);
        transition: all .25s ease-in;
    }
}